body {
  background: linear-gradient(to right, #dbfde5 0%, #f5efe8 100%);
}
.navbar bg-white fixed-top{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
}
.navbar-brand{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 72px;
  text-transform: uppercase;
	background: linear-gradient(to right, #353535 0%, #7e7e7e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#name{
  font-size: 50px;
  background: linear-gradient(to right, #087539 0%, #33b19c 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.responsive {
  width: 100%;
  height: auto;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.time-countdown{
  
  background:url(/images/countdown.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
.transbox{
    height: 300px;
    background-color: #000000;
    opacity: 0.75;
  }
#countdown{
  font-weight: bold;
  font-size: 50px;
  background: linear-gradient(to right, #087539 0%, #ffffff 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transbox h1 {
  font-weight: bold;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item{
  background-position: center;
  background-size: auto;
  max-height: 800px;
  
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/*history*/
.dot-couple {
  height: 350px;
  width: 350px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 
}#dot-meaw{
  background: url(/images/young_meaw.jpg);
  background-position: center;
  background-size: 130%;
}#dot-dream{
  background: url(/images/young_dream.jpg);
  background-position: center;
  background-size: cover;
}