
body{
 
  /* background: linear-gradient(to right, #dbfde5 0%, #f5efe8 100%); */
  /* background: linear-gradient(to right, #e3e4e3 0%, #e3e4e3 100%); */
  height: 100%;
}
div{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
p{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
h5{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 16px;
}h1{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
.main-page {
  background-image: url(/images/n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 980px;
  margin: 0;
  
}
.navbar bg-white fixed-top{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
}
.navbar-brand{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 72px;
  text-transform: uppercase;
	background: linear-gradient(to right, #353535 0%, #7e7e7e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#name{
  font-family: Brush Script MT;
  font-size: 50px;
  background: linear-gradient(to right, #087539 0%, #33b19c 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#bigname{
  font-size: 100px;
  background: linear-gradient(to right, #087539 0%, #33b19c 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}#image-sur{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.responsive {
  width: 100%;
  height: auto;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.logo {
  font-size: 200px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.text-topic{
  border:none;
}#topic-text{
  
  font-size: 50px;
  background: linear-gradient(to right, #eb4e1e 0%, #d531eb 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}#card-select-line{
  min-height: 320px;
  border:none;

  background-image: linear-gradient(45deg, #e6e9e7e5 0% , #e6e6e6 100%);
}#card-select-line h1{

  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#card-select-regis{
  border:none;
  min-height: 200px;
  background-image: linear-gradient(45deg, #c91853 0% , #ee7035 100%);
 
}#card-select-default{
  border:none;
  min-height: 320px; 
}

.container-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}




.time-countdown{
  
  background:url(/images/countdown.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
.transbox{
    height: 300px;
    background-color: #000000;
    opacity: 0.75;
  }
#countdown{
  font-weight: bold;
  font-size: 50px;
  background: linear-gradient(to right, #087539 0%, #ffffff 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transbox h1 {
  font-weight: bold;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item{
  background-position: center;
  background-size: auto;
  max-height: 800px;
  
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/*history*/
.dot-couple {
  height: 350px;
  width: 350px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 
}#dot-meaw{
  background: url(/images/young_meaw.jpg);
  background-position: center;
  background-size: 130%;
}#dot-dream{
  background: url(/images/young_dream.jpg);
  background-position: center;
  background-size: cover;
}

/*timeline*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

  .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
  }

  .timeline > li {
      margin-bottom: 20px;
      position: relative;
  }

      .timeline > li:before,
      .timeline > li:after {
          content: " ";
          display: table;
      }

      .timeline > li:after {
          clear: both;
      }

      .timeline > li:before,
      .timeline > li:after {
          content: " ";
          display: table;
      }

      .timeline > li:after {
          clear: both;
      }

      .timeline > li > .timeline-panel {
          width: 46%;
          float: left;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          padding: 20px;
          position: relative;
          -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      }

          .timeline > li > .timeline-panel:before {
              position: absolute;
              top: 26px;
              right: -15px;
              display: inline-block;
              border-top: 15px solid transparent;
              border-left: 15px solid #ccc;
              border-right: 0 solid #ccc;
              border-bottom: 15px solid transparent;
              content: " ";
          }

          .timeline > li > .timeline-panel:after {
              position: absolute;
              top: 27px;
              right: -14px;
              display: inline-block;
              border-top: 14px solid transparent;
              border-left: 14px solid #fff;
              border-right: 0 solid #fff;
              border-bottom: 14px solid transparent;
              content: " ";
          }

      .timeline > li > .timeline-badge {
          color: #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
          text-align: center;
          position: absolute;
          top: 16px;
          left: 50%;
          margin-left: -25px;
          background-color: #999999;
          z-index: 100;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
      }

      .timeline > li.timeline-inverted > .timeline-panel {
          float: right;
      }

          .timeline > li.timeline-inverted > .timeline-panel:before {
              border-left-width: 0;
              border-right-width: 15px;
              left: -15px;
              right: auto;
          }

          .timeline > li.timeline-inverted > .timeline-panel:after {
              border-left-width: 0;
              border-right-width: 14px;
              left: -14px;
              right: auto;
          }

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

  .timeline-body > p + p {
      margin-top: 5px;
  }

@media (max-width: 767px) {
  ul.timeline:before {
      left: 40px;
  }

  ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
  }

  ul.timeline > li > .timeline-panel {
      float: right;
  }

      ul.timeline > li > .timeline-panel:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
      }

      ul.timeline > li > .timeline-panel:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
      }
}